<!DOCTYPE html>
<html lang="en">

<head>
    
 <%-include('./partials/head')-%>
</head>

<body>

    <%- include('./partials/navbar')-%>
  <!-- main menu -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left Side div -->
                    <div class="col-md-6 col-12 main_header_left align-items-center ">
                        <figure>
                            <img src="images/about.png" class="img-fluid" alt="image">
                        </figure>
                    </div><!--End of 1st col division-->
              
                    <div class="col-md-6 col-12 main_header_right">
                        
                        <h1>We are <span class="txt-color">Node.js Developers</span></h1>
                    </div> <!--End of 2nd col division-->

                </div> <!-- End of 2nd row -->

            </div> <!--End of col -->
        </div><!-- End of row -->
    </div> <!--End of main header -->
   <%-include('./partials/footer')-%>
</body>

</html>